<!DOCTYPE html>
<html>
    <head>
        <title>TourSpot</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>

   <div class="container">
       <div class="row">
          <div class= "col-md-12">
              <div class="content">
                   <h1>Welcome to TourSpot</h1>
                    <h6>The go-to source for beautiful tourist places</h6>
                    <hr>
                    <a href="/tourspots" class= "btn btn-success btn-lg">View TourSpots</a>
                </div>
           </div>
       </div>        
    </div>
    <ul class="fadebackground">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
<% include partials/footer %>